@font-face {
    font-family: "Marck Script";
    src: url("../fonts/MarckScript-Regular.ttf"), local("../fonts/MarckScript-Regular.ttf") format("ttf");
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 248);
    gap: 0.5em;
}

/*-------------*/
.home-page {
    box-sizing: border-box;
    background-color: bisque;
    background-image: url("../images/home-page.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid brown;
    min-height: 100vh;
}

/*-------------*/

.site-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.5) inset;
    background-size: cover;
    position: relative;
    /* width: 100vw; */
}

/*-------------*/
.title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    align-items: center;
    padding: 0.4em;
}

/*-------------*/
.site-title {
    box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.5) inset;
    border-radius: 15px;
    padding: 0.4em;
}

.site-title a {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -100vw;
    background-image: url('../images/logoID.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*-------------*/
.title-blog h1 {
    font-family: "Marck Script";
    font-size: 4em;
    font-weight: bold;
    color: rgb(122, 12, 12);
    text-align: center;
    padding: 0 0.4em;
}

/*-------------*/
.menu-header {
    margin: 0 auto;
    margin-bottom: 0.4em;
}

.menu-header nav,
.menu-header nav ul {
    display: flex;
}

.menu-header nav {
    display: none;
    justify-content: center;
}

.menu-header nav ul {
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.menu-header nav li {
    list-style: none outside;
    box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.5) inset;
    border-radius: 15px;
    padding: 0.5em 1em;
}

.menu-header nav a {
    text-decoration: none;
    font-family: "Marck Script";
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(122, 12, 12);
}

.mobile-menu {
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .menu-header nav ul {
        flex-direction: column;
    }
 
    #imgMenu {
        src: "./images/menu_icon.svg";
    }
}

/*--------------*/
#content {
    display: flex;
    position: relative;
    min-width: 70vh;
    min-height: 75vh;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    #content {
        min-width: 40vw;
        max-width: 100vw;
        min-height: 40vh;
        max-height: 100vh;
    }
}

.section {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 248);
}

.iframe {
    background-color: rgb(252, 252, 248);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}