/*--------------*/
.bgRecipes {
    box-sizing: border-box;
    background-color: rgb(250, 240, 230);
    background-image: url("../images/background2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid brown;
    min-height: 100vh;
    text-align: center;
}

/* ------- */
.liRecipe {
    min-width: 16rem;
    max-width: 22rem;
    display: inline-block;
    background-color: #fff;
    border: 0.4rem solid brown;
    vertical-align: top;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.8);
}

/* ------- */
.media {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 22em;
    /*border: 5px solid green;*/
}

.media:before {
    display: block;
    content: '';
}


.card {
    position: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
    background: rgba(248, 248, 241, 0.8);
}

.content {
    position: relative;
    /* min-height: 12em; */
    /*border: 5px solid blue;*/
}

.content-recipe {
    display: none;
    text-align: left;
    padding-bottom: 1em;

}

.content-recipe h5 {
    text-decoration: underline;
    font-style: oblique;
    font-weight: bold;
}

.content-recipe>ul {
    list-style-type: circle;
    padding-left: 2em;
    padding-right: 1em;
}

.content-recipe p {
    text-indent: 1em;
    padding: 0 0.5em;
    text-align: justify;
}

.readMore {
    display: inline-block;
    text-decoration: none;
    background: brown;
    color: #fff;
    padding: 0.5em 1em;
    margin: 5px;
    border-radius: 0.5em;
}